@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  color: white;
  font-family: Source Sans Pro;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: black;
  flex-direction: column;
  justify-content: center;
}

#content {
  width: auto;
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: row;
  border-top: 4px solid white;
  border-left: 4px solid white;
  justify-content: space-around;
  border-bottom: 4px solid white;
}

#chat-wrapper {
  width: 58.7vh;
  display: flex;
  flex-direction: column;
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: black;
  background: white;
}

#account-panel {
  text-align: center;
  margin: 16px 0 16px 0;
}

#account-panel > div {
  margin: 8px 0 8px 0;
  width: 200px;
  height: 33px;
}

#user-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
}

#user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20px;
  margin: 5px 0 0 2px;
}

#connection-status {
  display: block;
  background: green;
  border-radius: 50% 50%;
  width: 5px;
  height: 5px;
}

#current-sessions {
  color: #AAA;
  font-size: 10px;
}

#username {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#channel-list-panel {
  height: 100%;
  overflow: scroll;
}

#create-channel-panel {
  text-align: center;
  margin: 8px 0 8px 0;
}

.btn-black {
  border: none;
  margin: auto;
  color: white;
  cursor: pointer;
  font-size: 20px;
  background: black;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  text-transform: uppercase;
}

.btn-black:hover {
  background: #888;
}

.divider, .divider-lg {
  width: 100%;
  height: 1px;
  background: #AAA;
}

.divider-lg {
  height: 3px;
}

.channel-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.channel-name {
  color: black;
  font-size: 18px;
  padding: 8px 2px 8px 8px;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  max-width: 120px;
  word-wrap: break-word;
}

.channel-name:hover {
  color: #AAA;
}

.channel-delay {
  padding-top: 14px;
  color: #AAA;
  font-size: 10px;
  margin-left: -3px;
}

.channel-wrapper img {
  padding-top: 13px;
  width: 16px;
  height: 16px;
  opacity: .62;
  margin: 0 2px 0 2px;
}

.channel-trash {
  cursor: pointer;
  transition: .1s linear;
}

.channel-trash:hover {
  opacity: 1;
}

#message-panel {
  height: 100%;
}

#channel-info {
  background: white;
  color: black;
  text-align: center;
  padding: 8px 0 8px 0;
}

#channel-info * {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0 8px 0 8px;
}

#channel-name {
  color: white;
  background: black;
}

#message-form {
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 0;
}

#message-form > input[type="text"] {
  width: 100%;
  border: none;
  background: black;
  padding-left: 8px;
  font-size: 20px;
}

#message-form > button {
  padding: 0;
  width: 58px;
  height: 25px;
  border: none;
  cursor: pointer;
  background: white;
  position: relative;
  margin: 4px 8px 8px 8px;
}

#message-form > button:hover > span{
  color: white;
  background: black;
}

#message-form > button > span{
  left: 0;
  top: -4px;
  color: black;
  font-size: 25px;
  position: absolute;
  text-transform: lowercase;
}
