@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  color: white;
  font-family: Source Sans Pro;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: black;
  flex-direction: column;
  justify-content: center;
}

#wrapper {
  width: auto;
  margin: auto;
  height: 90vh;
  display: flex;
  flex-direction: row;
  border-top: 4px solid white;
  border-left: 4px solid white;
  justify-content: space-around;
  border-bottom: 4px solid white;
}

#chat {
  width: 58.7vh;
  display: flex;
  flex-direction: column;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: black;
  background: white;
}

#sidebar__account {
  text-align: center;
  margin: 16px 0 16px 0;
}

#sidebar__account > div {
  margin: 8px 0 8px 0;
  width: 200px;
  height: 33px;
}

#sidebar__account__identity {
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sidebar__account__identity__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20px;
  margin: 5px 0 0 2px;
}

#sidebar__account__identity__details__connection {
  display: block;
  background: green;
  border-radius: 50% 50%;
  width: 5px;
  height: 5px;
}

#sidebar__account__identity__details__sessions {
  color: #AAA;
  font-size: 10px;
}

#sidebar__account__identity__username {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#sidebar__channels {
  height: 100%;
  overflow: scroll;
}

#sidebar__create-channel {
  text-align: center;
  margin: 8px 0 8px 0;
}

.button {
  border: none;
  margin: auto;
  color: white;
  cursor: pointer;
  font-size: 20px;
  background: black;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  text-transform: uppercase;
}

.button:hover {
  background: #888;
}

.divider, .divider--thick {
  width: 100%;
  height: 1px;
  background: #AAA;
}

.divider--thick {
  height: 3px;
}

.sidebar__channels__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.sidebar__channels__wrapper__name {
  color: black;
  font-size: 18px;
  padding: 8px 2px 8px 8px;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  max-width: 120px;
  word-wrap: break-word;
}

.sidebar__channels__wrapper__name:hover {
  color: #AAA;
}

.sidebar__channels__wrapper__delay {
  padding-top: 14px;
  color: #AAA;
  font-size: 10px;
  margin-left: -3px;
}

.sidebar__channels__wrapper img {
  padding-top: 13px;
  width: 16px;
  height: 16px;
  opacity: .62;
  margin: 0 2px 0 2px;
}

.sidebar__channels__wrapper__trash {
  cursor: pointer;
  transition: .1s linear;
}

.sidebar__channels__wrapper__trash:hover {
  opacity: 1;
}

#chat__messages {
  overflow-y: scroll;
  height: 100%;
}

#chat__info {
  background: white;
  color: black;
  text-align: center;
  padding: 8px 0 8px 0;
}

#chat__info * {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0 8px 0 8px;
}

#chat__info__channel {
  color: white;
  background: black;
}

#chat__form {
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 0;
}

#chat__form__input {
  width: 100%;
  border: none;
  background: black;
  padding-left: 8px;
  font-size: 20px;
}

#chat__form__button {
  padding: 0;
  width: 58px;
  height: 25px;
  border: none;
  cursor: pointer;
  background: white;
  position: relative;
  margin: 4px 8px 8px 8px;
}

#chat__form__button:hover > span{
  color: white;
  background: black;
}

#chat__form__button > span{
  left: 0;
  top: -4px;
  color: black;
  font-size: 25px;
  position: absolute;
  text-transform: lowercase;
}

.modal {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: black;
  height: 100%;
  display: none;
  position: fixed;
  background: white;
  text-align: center;
  transition: .2s linear;
  flex-direction: column;
  justify-content: center;
}

.modal__wrapper {
  margin: auto;
  text-align: center;
}

.modal h1 {
  color: black;
}

.modal .button {
  margin-top: 12px;
}

.modal input, .modal input:active, .modal input:focus {
  color: white;
  padding: 8px;
  width: 200px;
  border: none;
  display: block;
  max-width: 100%;
  font-size: 20px;
  background: black;
  margin: 8px auto 8px auto;
}

.chat__messages__wrapper--right, .chat__messages__wrapper--left, .chat__messages__wrapper--right--mid, .chat__messages__wrapper--left--mid {
  height: auto;
  display: flex;
  flex-direction: row;
}

.chat__messages__wrapper--left, .chat__messages__wrapper--left--mid {
  justify-content: flex-start;
}

.chat__messages__wrapper--right, .chat__messages__wrapper--right--mid {
  justify-content: flex-end;
}

.chat__messages__wrapper__time-wrapper {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
}

.chat__messages__wrapper__time {
  color: #AAA;
  font-size: 10px;
}

.chat__messages__wrapper--right .left .chat__messages__wrapper__time {
  margin-left: 20%;
}


.chat__messages__wrapper--left .left .chat__messages__wrapper__time {
  margin-right: 20%;
}

.chat__messages__wrapper__body {
  margin: 8px;
  padding: 10px;
  font-size: 18px;
  transition: border-radius .3s linear;
}

.chat__messages__wrapper--right .chat__messages__wrapper__body, .chat__messages__wrapper--right--mid .chat__messages__wrapper__body {
  color: black;
  background: white;
  border-radius: 10px 0px 10px 10px;
}

.chat__messages__wrapper--left .chat__messages__wrapper__body,
.chat__messages__wrapper--left--mid .chat__messages__wrapper__body {
  color: white;
  background: crimson;
  border-radius: 0px 10px 10px 10px;
}

.chat__messages__wrapper--right--mid .chat__messages__wrapper__body {
  border-radius: 10px 0 0 10px;
  margin-bottom: 0;
}

.chat__messages__wrapper--left--mid .chat__messages__wrapper__body {
  border-radius: 0 10px 10px 0;
  margin-bottom: 0;
}

.chat__messages__author {
  font-size: 10px;
  font-weight: bold;
  margin: 8px 0 -4px 8px;
}
